.location-accuracy-attention {
  visibility: hidden;
  display: inline-block;
  transform: scaleX(2);
}

.location-accuracy.danger .location-accuracy-attention,
.location-accuracy.warning .location-accuracy-attention {
  visibility: visible;
}
