{
  "arrowParens": "always",
  "singleQuote": true,
  "trailingComma": "all",
  "plugins": ["prettier-plugin-svelte"],
  "svelteSortOrder": "options-scripts-markup-styles",
  "svelteBracketNewLine": true,
  "svelteIndentScriptAndStyle": true,
  "svelteStrictMode": true
}
