.departures-list {
    position: relative;
    width: 100%;
    margin: 0 auto;
    border-spacing: 0;
}

.departures-list a {
    color: inherit;
    text-decoration: none;
}

.departures-list-header {
    margin-bottom: 6px;
    white-space: nowrap;
}

.departures-list-header .active {
    border-bottom: 2px solid #007ac9 !important;
}

.departures-list-header .header:focus > span {
    border-bottom: 2px solid #83ceff;
}

.departures-list-header .header {
    display: inline-block;
    margin-right: .5em;

    font-size: .9rem;
    font-weight: 600;
    color: #333;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    outline: none;
}

.departures-list-row {
    position: relative;
    overflow-y: visible;
    white-space: nowrap;
    background: #fff;
    line-height: 1.8;
    margin: 0;
    padding-left: 0;
    letter-spacing: 0;
    font-size: 1rem;
    padding: .4em 0;

    border-bottom: 1px solid #ddd;
}

.departures-list-row:last-child {
    border: 0;
}

.departures-list .time-header,
.departures-list .time {
    width: 3.25em;
    padding-right: .5em;
}

.departures-list .routename-header,
.departures-list .route {
    width: 5em;
}

.departures-list .routename-header {
    margin-left: .4em;
}

.departures-list .destination-header {
    width: calc(100% - 15.5em);
    padding-left: .5em;
}

.departures-list .distance-header {
    margin-right: 0;
}

.departures-list .time {
    display: inline-block;
    text-align: left;
    vertical-align: bottom;
}

.departures-list .route {
    display: inline-block;
    padding-left: .25em;
    overflow: hidden;
    vertical-align: middle;
    font-weight: 600;
}

.departures-list .destination {
    width: calc(100% - 12.6em);
    padding-left: .5em;
    vertical-align: bottom;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.departures-list .distance {
    width: 3em;
    color: #444;
    text-align: right;
    display: inline-block;
    vertical-align: bottom;
}

.departures-list svg.icon {
    width: 1em;
    height: 1em;
    display: inline-block;
}

.departures-list .route-identifier {
    padding: 0 5px;
}

.departures-list-row.no-results {
    font-style: italic;
    text-align: center;
    padding: 20px 0;
    white-space: normal;
}.departure-filter {
    margin-bottom: 20px;
    text-align: center;
}

.range-filter-wrapper {
    padding: 1em 0;
}

/* FILTER BUTTONS */

.departure-filter button {
    width: 20%;
    padding: .4em 0;

    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 0;

    color: #fff;

    cursor: pointer;
}

.departure-filter button:not(.toggled) {
    background: #fff !important;
    color: #ccc;
}

.departure-filter button:first-child {
    border-left: 1px solid #ddd;
}

.departure-filter .icon {
    width: 24px;
    height: 24px;
}

/* RANGE FILTER */

.departure-filter output {
    display: block;
    text-align: right;
}

.departure-filter input[type=range] {
    display: block;
    width: 100%;
    height: 10px;
    padding: 0;
    -webkit-appearance: none;
    background: transparent; /* Otherwise white in Chrome */
}

.departure-filter input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: #00b9e4;
}

.departure-filter input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #00b9e4;
}

.departure-filter input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: #00b9e4;;
    color: transparent;
    margin: 12px;
    border: 0;
}

.departure-filter input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    border: 0;
    border-radius: 50%;
    background: #007ac9;
    cursor: pointer;
    margin-top: -7px;
}

.departure-filter input[type=range]::-moz-range-thumb {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 0;
    background: #007ac9;
    cursor: pointer;
    margin-top: 0;
}

.departure-filter input[type=range]::-ms-thumb {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 0;
    background: #007ac9;
    cursor: pointer;
    margin-top: 0;
}.suggestions ol {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;

    list-style: none;
    padding-left: 0;
    z-index: 99;
}

.suggestions li {
    line-height: 1.2;
    padding: .4em 1em;
    border-bottom: 1px solid #ddd;
    background: #fff;
    cursor: pointer;
}

.suggestions li:last-child {
    border-width: 16px;
}

.suggestions li:hover {
    background: #44b5ff;
    color: white;
}

.suggestion-name {
    margin-bottom: .2em;
}

.suggestion-locality {
    color: #888;
}

.suggestions li.selected {
    background: #089eff;
    color: white;
}

.suggestions li:hover .suggestion-locality,
li.selected .suggestion-locality {
    color: #ddd;
}.address-search {
    width: 100%;
    position: relative;
}

.address-search:before,
.address-search:after {
    content: '';
    display: table;
}

.address-search:after {
    clear: both;
}

.address-search input,
.address-search button {
    display: inline-block;
    padding: 10px 0;
    border-radius: 0;
    -webkit-appearance: none;
}

.address-search input {
    width: 100%;
    border: 1px solid #eee;
    padding-right: 82px;
    padding-left: 5px;
    outline: none;
    box-sizing: border-box;
}

.address-search button {
    display: inline-block;
    width: 80px;
    position: absolute;
    right: 0;
    border: 1px solid transparent;
    background: #007ac9;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.address-search button::-moz-focus-inner {
    border: 0;
}

.address-search button:active {
    background: #0065a7;
}

.suggestions {
    position: relative;
}html {
    height: 100%;
}

body,
#app {
    height: 100%;
}

.app-content {
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

main {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    -ms-flex-preferred-size: 0%;
        flex-basis: 0%;
}

header {
    background-color: #8c4799;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 10px solid #67386f;
    min-height: 5.5em;
}

header .description:before,
header .description:after {
    content: "~";
}

header .description:before {
    margin-right: 2px;
}

header .description:after {
    margin-left: 2px;
}

header .description {
    font-size: 12px;
    font-style: italic;
    line-height: 1;
    margin-bottom: 1.5em;
}

header .icon {
    width: 40px;
    height: 40px;
    margin-right: .4em;
    vertical-align: middle;
}

main,
.footer-content {
    box-sizing: border-box;
    max-width: 1024px;
    margin: 0 auto;
}

main {
    width: 100%;
    padding: 0 1em;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

footer {
    width: 100%;
    margin-top: 1em;

    background-color: #007ac9;

    color: #fff;
    font-size: .8em;
    font-style: italic;

    border-top: 10px solid #005993;
}

.footer-content {
    overflow: auto;
    text-align: right;
    padding: 2em 1em;
}

h1 {
    margin: 10px 0;
    font: normal 2em Georgia, 'Times New Roman', Times, serif;
}

.app-name {
    text-transform: lowercase;
    text-shadow: 1px 1px 2px #222;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.accessibility-hidden {
    position: absolute;
    left: -9999px;
    top: -9999px;
}

.realtime {
    color: #46b32a;
}

.tram {
    color: #00985f;
}

.bus {
    color: #007ac9;
}

.subway {
    color: #ff6319;
}

.rail {
    color: #8c4799;
}

.ferry {
    color: #00b9e4;
}

.tram.bg {
    background-color: #00985f;
}

.bus.bg {
    background-color: #007ac9;
}

.subway.bg {
    background-color: #ff6319;
}

.rail.bg {
    background-color: #8c4799;
}

.ferry.bg {
    background-color: #00b9e4;
}

.alert {
    position: relative;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ebccd1;
    border-radius: 4px;
    background-color: #f2dede;
    color: #a94442;
    text-align: center;
}

.alert .close-button {
    position: absolute;
    top: 2px;
    right: 2px;
    cursor: pointer;
    border: none;
    background: transparent;
    font-weight: bold;
    color: inherit;
    font-size: 0.8em;
}

.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    z-index: 88;
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

@media screen and (min-width: 768px) {
    header {
        padding: 10px 20px;
    }
}
html {
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
}

@media screen and (min-width: 320px) {
    html {
        font-size: calc(14px + 7 * (100vw - 320px) / 500) !important;
    }
}

@media screen and (min-width: 900px) {
    html {
        font-size: 16px !important;
    }
}

/*# sourceMappingURL=main.4f016e5c.css.map*/