#app {
  height: 100%;
}

main {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;

  box-sizing: border-box;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 1rem;
}

.app-content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.realtime {
    color: #46b32a;
}

.tram {
    color: #00985f;
}

.bus {
    color: #007ac9;
}

.subway {
    color: #ff6319;
}

.rail {
    color: #8c4799;
}

.ferry {
    color: #00b9e4;
}

.tram.bg {
    background-color: #00985f;
}

.bus.bg {
    background-color: #007ac9;
}

.subway.bg {
    background-color: #ff6319;
}

.rail.bg {
    background-color: #8c4799;
}

.ferry.bg {
    background-color: #00b9e4;
}
