/* FILTER BUTTONS */
.departure-filter button:not(:last-child) {
  margin-right: 1px;
}

.departure-filter .icon {
  width: 1.5rem;
  height: 1.5rem;
}

/* RANGE FILTER */
.departure-filter input[type=range] {
  -webkit-appearance: none;
  background: transparent; /* Otherwise white in Chrome */
}

.departure-filter input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #00b9e4;
}

.departure-filter input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #00b9e4;
}

.departure-filter input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #00b9e4;;
  color: transparent;
  margin: 12px 0;
  border: 0;
}

.departure-filter input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  border: 0;
  border-radius: 50%;
  background: #007ac9;
  cursor: pointer;
  margin-top: -7px;
}

.departure-filter input[type=range]::-moz-range-thumb {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 0;
  background: #007ac9;
  cursor: pointer;
  margin-top: 0;
}

.departure-filter input[type=range]::-ms-thumb {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 0;
  background: #007ac9;
  cursor: pointer;
  margin-top: 0;
}


