.menu-icon {
  transition: .15s ease-out;
}

.menu-icon.toggled {
  transform: scale(.5, .5);
}

.favourites-toggle {
  position: relative;
  top: -2px;
}

.favourites-modal-wrapper {
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: opacity 75ms linear;
}

.favourites-modal-wrapper.visible {
  opacity: 1;
  visibility: visible;
}

.favouriteslist {
  animation-duration: .75s;
  animation-name: slidefromright;
  height: 100%;
  position: fixed;
  right: 0;
  width: 90%;
  overflow-x: hidden;
  z-index: 101;
  transform: translateX(100%);
	transition: transform .25s linear;
}

.favourites-modal-wrapper.visible .favouriteslist {
  transform: translateX(0);
}

.favouriteslist-header {
  box-shadow: 1px 2px 4px #888;
}

.favouriteslist-header-triangle-container {
  position: relative;
}

.favouriteslist-header-triangle,
.favouriteslist-header-triangle-shadow {
  width: 0;
	height: 0;
	border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 30px solid transparent;
}

.favouriteslist-header-triangle {
  border-top-color: #007ac9;
}

.favouriteslist-header-triangle-shadow {
  position: absolute;
  filter: blur(3px);
  border-top-color: #888;
  right: calc(50% - 25px);
  top: 0;
  z-index: -1;
}

.favouriteslist ul {
  overflow: hidden;
}

.favouriteslist li {
  position: relative;
  overflow-y: visible;
  letter-spacing: 0;
  padding: 3px;
}

.favouriteslist li .favouriteslist-item-label {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 2px;
}

.favouriteslist-item.selected:before {
  content: '●';
  margin-right: .5rem;
}

.favouriteslist li:not(.favouriteslist-placeholder) {
  border-bottom: 1px solid #ddd;
}

@media (min-width: 750px) {
  .favouriteslist {
    width: 40%;
  }

  .favouriteslist-content {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
