.favourites-button {
  color: #fff;
}

.favourites .favourites-open {
  margin-left: -8px;
}

.favourites-modal-wrapper {
  position: fixed;
  visibility: hidden;
  z-index: 100;
}

.favourites-modal-wrapper.visible {
  visibility: visible;
}

.favouriteslist {
  position: absolute;
  max-width: 750px;
  margin: 0 auto;
  z-index: 101;
  color: #333;
  background-color: #fff;
  box-shadow: 0 0 30px #444;
  border-radius: 4px;
  text-align: left;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.favouriteslist-header {
  background-color: #007ac9;
  color: #fff;
  padding: 3rem 2rem;
  text-align: center;
  box-shadow: 1px 2px 4px #888;
}

.favouriteslist-content {
  padding: 0 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.favouriteslist h2 {
  font-family: "Patua One", cursive;
  margin: 0;
}

.favouriteslist-close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  text-decoration: underline;
  background: none;
  border: 0;
  color: #fff;
  cursor: pointer;
}

.favouriteslist-header-triangle-container {
  position: relative;
}

.favouriteslist-header-triangle,
.favouriteslist-header-triangle-shadow {
  width: 0;
	height: 0;
	border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 30px solid transparent;
  margin: 0 auto;
}

.favouriteslist-header-triangle {
  border-top-color: #007ac9;
}

.favouriteslist-header-triangle-shadow {
  position: absolute;
  filter: blur(3px);
  border-top-color: #888;
  right: calc(50% - 25px);
  top: 0;
  z-index: -1;
}

.favouriteslist ul {
  flex-grow: 1;
  overflow-y: auto;
}

.favouriteslist li {
  position: relative;
  display: flex;
  padding: .4em 0;
  overflow-y: visible;
  white-space: nowrap;
  background: #fff;
  line-height: 1.8;
  letter-spacing: 0;
}

.favouriteslist-item.selected:before {
  content: 'â—';
}

.favouriteslist li button {
  text-align: left;
}

.favouriteslist li > div:first-child {
  flex: 1;
}

.favouriteslist .favouriteslist-item-remove {
  font-size: 1.2rem;
  color: rgb(161, 2, 2);
}

.favouriteslist li:not(.favouriteslist-placeholder) {
  border-bottom: 1px solid #ddd;
}

.favouriteslist-item-label {
  overflow: hidden;
}

.favouriteslist-placeholder {
  font-style: italic;
}

.favouriteslist .info-message {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}

.favouriteslist .badge {
  margin-right: .6rem;
}

.modal {
  position: fixed;
  background: rgba(0, 0, 0, .6);
}

@media (min-width: 750px) {
  .favouriteslist.fill-parent {
    top: 5%;
    bottom: 5%;
  }

  .favouriteslist-content {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .favouriteslist-close-button {
    top: 1.5rem;
    right: 1.5rem;
  }
}
