.favourites .favourites-open {
  margin-left: -8px;
}

.favourites-modal-wrapper {
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s linear;
}

.favourites-modal-wrapper.visible {
  opacity: 1;
  visibility: visible;
  transition: all 0.1s linear;
}

.favouriteslist {
  max-width: 750px;
  z-index: 101;
  box-shadow: 0 0 30px #444;
  overflow: hidden;
}

.favouriteslist-header {
  box-shadow: 1px 2px 4px #888;
}

.favouriteslist-close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: 0;
}

.favouriteslist-header-triangle-container {
  position: relative;
}

.favouriteslist-header-triangle,
.favouriteslist-header-triangle-shadow {
  width: 0;
	height: 0;
	border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 30px solid transparent;
}

.favouriteslist-header-triangle {
  border-top-color: #007ac9;
}

.favouriteslist-header-triangle-shadow {
  position: absolute;
  filter: blur(3px);
  border-top-color: #888;
  right: calc(50% - 25px);
  top: 0;
  z-index: -1;
}

.favouriteslist ul {
  overflow-y: auto;
}

.favouriteslist li {
  position: relative;
  overflow-y: visible;
  letter-spacing: 0;
}

.favouriteslist-item.selected:before {
  content: '●';
  margin-right: .5rem;
}

.favouriteslist li:not(.favouriteslist-placeholder) {
  border-bottom: 1px solid #ddd;
}

@media (min-width: 750px) {
  .favouriteslist.fill-parent {
    top: 5%;
    bottom: 5%;
  }

  .favouriteslist-content {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .favouriteslist-close-button {
    top: 1.5rem;
    right: 1.5rem;
  }
}
