.app-description {
  display: none;
}

.app-logo-container {
  height: 40px;
  width: 40px;
}

.app-logo {
  margin-bottom: -8px;
  height: auto;
  width: 100%;
}

@media (min-width: 750px) {
  h1 {
    justify-content: center;
  }

  header {
    text-align: center;
    display: block;
    padding: 0 1rem;
  }

  .app-description {
    display: block;
  }

  .app-logo-container {
    height: 60px;
    width: 60px;
  }
}
