header {
  background-color: #007ac9;
  border-bottom: 4px solid #005993;
  color: #fff;
  margin-bottom: 36px;
}

.header-content {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 1024px;
  padding: .6rem 1rem;
}

.header-title-wrapper {
  flex: 1;
}

.app-description {
  display: none;
}

.app-description {
  font-size: .8rem;
  line-height: .5;
  margin-bottom: 1.5em;
}

.app-name {
  font-family: 'Patua One', cursive;
  text-transform: lowercase;
  margin-left: 6px;
}

.app-logo {
  height: 40px;
  margin-bottom: -8px;
}

@media (min-width: 750px) {
  header {
    text-align: center;
    display: block;
    padding: 0 1rem;
  }

  .app-name {
    margin-left: -8px;
  }

  .app-description {
    display: block;
  }

  .app-logo {
    height: 60px;
  }

  header .favourites {
    text-align: right;
    position: absolute;
    top: .8rem;
    left: 1rem;
    right: 1rem;
  }
}
