.app-description {
  display: none;
  line-height: .5;
}

.app-logo {
  height: 40px;
  margin-bottom: -8px;
}

@media (min-width: 750px) {
  header {
    text-align: center;
    display: block;
    padding: 0 1rem;
  }

  .app-name {
    margin-left: -8px;
  }

  .app-description {
    display: block;
  }

  .app-logo {
    height: 60px;
  }
}
