footer {
  width: 100%;
  margin-top: 1em;
  background-color: #005993;
  color: #fff;
  box-sizing: border-box;
  padding: 1em;
  font-size: .9rem;
}

.footer-app-name {
  font-family: "Patua One", cursive;
}

.footer-content {
  box-sizing: border-box;
  max-width: 1024px;
  margin: 0 auto;
}

