.departures-list a {
  color: inherit;
  text-decoration: none;
}

.departures-list-header .active {
  border-bottom: 2px solid #007ac9;
}

.departures-list-header .header:last-child {
  flex: 1;
  text-align: right;
}

.departures-list-row-container {
  overflow-y: visible;
  line-height: 3.25rem;
}

.departures-list-row-container:last-child {
  border-bottom: 0;
}

.departures-list .time,
.departures-list .routename {
  width: 4.25rem;
}

.departures-list svg.icon {
  position: relative;
  bottom: -1px;
  width: 1em;
}

.departures-list-row-additional-info {
  max-height: 0;
  transition: max-height 250ms linear;
  line-height: 1.75rem;
}

.departures-list-row-additional-info a {
  text-decoration: underline;
}

.departures-list-row-additional-info.visible {
  max-height: 600px;
}

.departures-list-row-additional-info-close {
  top: 1rem;
  right: 0;
}
