.departures-list-header .active {
  border-bottom: 2px solid #007ac9;
}

.departures-list-header .header:last-child {
  flex: 1;
  text-align: right;
}

.departures-list-row-container {
  overflow-y: visible;
}

.departures-list-row-container:last-child {
  border-bottom: 0;
}

.departures-list .time,
.departures-list .routename {
  width: 4rem;
}

.departures-list svg.icon {
  position: relative;
  bottom: -1px;
  width: 1em;
}

.departures-list-row-additional-info-close {
  top: 1rem;
  right: 0;
}

@media (min-width: 640px) {
  .departures-list .time,
  .departures-list .routename {
    width: 4.5rem;
  }
}
