.suggestions ol {
  top: 0;
  left: 0;
  z-index: 99;
  box-shadow: 0 6px 24px -4px #ccc;
}

.suggestions li:hover {
  background: #44b5ff;
  color: white;
}

.suggestions li.selected {
  background: #089eff;
  color: white;
}

.suggestions li:hover .suggestion-locality,
li.selected .suggestion-locality {
  color: #ddd;
}
