.departures-list {
    position: relative;
    width: 100%;
    margin: 0 auto;
    border-spacing: 0;
}

.departures-list a {
    color: inherit;
    text-decoration: none;
}

.departures-list-header {
    margin-bottom: 6px;
    white-space: nowrap;
}

.departures-list-header .active {
    text-decoration: underline;
}

.departures-list-header .header {
    display: inline-block;
    margin-right: .5em;

    font-size: .9rem;
    font-weight: 600;
    color: #333;

    cursor: pointer;
    user-select: none;
}

.departures-list-row {
    position: relative;
    overflow-y: visible;
    white-space: nowrap;
    background: #fff;
    line-height: 1.8;
    margin: 0;
    padding-left: 0;
    letter-spacing: 0;
    font-size: 1rem;
    padding: .4em 0;

    border-bottom: 1px solid #ddd;
}

.departures-list-row:last-child {
    border: 0;
}

.departures-list .time-header,
.departures-list .time {
    width: 3.25em;
    padding-right: .5em;
}

.departures-list .routename-header,
.departures-list .route {
    width: 5em;
}

.departures-list .routename-header {
    margin-left: .4em;
}

.departures-list .destination-header {
    width: calc(100% - 14.8em);
    padding-left: .5em;
}

.departures-list .distance-header {
    margin-left: -0.5em;
    margin-right: 0;
}

.departures-list .time {
    display: inline-block;
    text-align: left;
}

.departures-list .route {
    display: inline-block;
    padding-left: .25em;
    margin-bottom: -2px;
    overflow: hidden;
    vertical-align: middle;
    font-weight: 600;
}

.departures-list .destination {
    width: calc(100% - 12.6em);
    padding-left: .5em;
    vertical-align: bottom;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.departures-list .distance {
    width: 3.25em;
    color: #444;
    text-align: right;
    margin-right: .5em;
    font-size: .92rem;
    display: inline-block;
}

.departures-list svg.icon {
    width: 1em;
    height: 1em;
    display: inline-block;
}

.departures-list .route-identifier {
    padding: 0 5px;
}

.no-results {
    font-style: italic;
    text-align: center;
    padding: 20px 0;
}