html {
    height: 100%;
}

body,
#app {
    height: 100%;
}

.app-content {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

header {
    background-color: #8c4799;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 10px solid #67386f;
    min-height: 5.5em;
}

header .description:before,
header .description:after {
    content: "~";
}

header .description:before {
    margin-right: 2px;
}

header .description:after {
    margin-left: 2px;
}

header .description {
    font-size: 12px;
    font-style: italic;
    line-height: 1;
    margin-bottom: 1.5em;
}

header .icon {
    width: 40px;
    height: 40px;
    margin-right: .4em;
    vertical-align: middle;
}

main,
.footer-content {
    box-sizing: border-box;
    max-width: 1024px;
    margin: 0 auto;
}

main {
    width: 100%;
    padding: 0 1em;
    flex-grow: 1;
}

footer {
    width: 100%;
    margin-top: 1em;

    background-color: #007ac9;

    color: #fff;
    font-size: .8em;
    font-style: italic;

    border-top: 10px solid #005993;
}

.footer-content {
    overflow: auto;
    text-align: right;
    padding: 2em 1em;
}

h1 {
    margin: 10px 0;
    font: normal 2em Georgia, 'Times New Roman', Times, serif;
}

.app-name {
    text-transform: lowercase;
    text-shadow: 1px 1px 2px #222;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.accessibility-hidden {
    position: absolute;
    left: -9999px;
    top: -9999px;
}

.realtime {
    color: #46b32a;
}

.tram {
    color: #00985f;
}

.bus {
    color: #007ac9;
}

.subway {
    color: #ff6319;
}

.rail {
    color: #8c4799;
}

.ferry {
    color: #00b9e4;
}

.tram.bg {
    background-color: #00985f;
}

.bus.bg {
    background-color: #007ac9;
}

.subway.bg {
    background-color: #ff6319;
}

.rail.bg {
    background-color: #8c4799;
}

.ferry.bg {
    background-color: #00b9e4;
}

.alert {
    position: relative;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ebccd1;
    border-radius: 4px;
    background-color: #f2dede;
    color: #a94442;
    text-align: center;
}

.alert .close-button {
    position: absolute;
    top: 2px;
    right: 2px;
    cursor: pointer;
    border: none;
    background: transparent;
    font-weight: bold;
    color: inherit;
    font-size: 0.8em;
}

.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    z-index: 88;
    text-align: center;
    user-select: none;
}

@media screen and (min-width: 768px) {
    header {
        padding: 10px 20px;
    }
}
