header {
    background-color: #f8f8f8;
    padding: 20px;
    color: #3d464d;
    text-align: center;
}

main {
    width: 94%;
    margin: 0 auto;
}

fieldset {
    border: 0;
    padding: 0;
}

.text-center {
    text-align: center;
}

.realtime {
    color: #46b32a;
}

.tram {
    color: #00985f;
}

.bus {
    color: #007ac9;
}

.subway {
    color: #ff6319;
}

.rail {
    color: #8c4799;
}

.ferry {
    color: #00b9e4;
}

.tram.bg {
    background-color: #00985f;
}

.bus.bg {
    background-color: #007ac9;
}

.subway.bg {
    background-color: #ff6319;
}

.rail.bg {
    background-color: #8c4799;
}

.ferry.bg {
    background-color: #00b9e4;
}

.alert {
    position: relative;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ebccd1;
    border-radius: 4px;
    background-color: #f2dede;
    color: #a94442;
    text-align: center;
}

.alert .close-button {
    position: absolute;
    top: 2px;
    right: 2px;
    cursor: pointer;
    border: none;
    background: transparent;
    font-weight: bold;
    color: inherit;
    font-size: 0.8em;
}

.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    z-index: 99;
    text-align: center;
    user-select: none;
}

@media screen and (min-width: 768px) {
    main {
        width: 80%;
    }
}