.app-header {
    background-color: #f8f8f8;
    padding: 20px;
    color: #3d464d;
}

.full-width {
    width: 100%;
}

.text-center {
    text-align: center;
}

.realtime {
    color: #46b32a;
}

.tram {
    color: #00985f;
}

.bus {
    color: #007ac9;
}

.subway {
    color: #ff6319;
}

.rail {
    color: #8c4799;
}

.ferry {
    color: #00b9e4;
}