:root {
  --color-tram: #008855;
  --color-bus: #007ac9;
  --color-subway: #ff6319;
  --color-rail: #8c4799;
  --color-ferry: #00b9e4;
  --color-warning: #a07903;
  --color-black: #323232;
  --color-white: #fff;
  --color-green-light: #286518;
  --color-blue-light: #089eff;
  --color-blue-dark: #005993;
  --color-gray-light: #ccc;
  --color-gray: #666;
  --color-gray-dark: #333;
  --color-alert: #a94442;
  --color-alert-dark: #7b3130;
  --color-alert-light: #f2dede;
}

.color-alert {
  color: var(--color-alert-dark);
}

.color-warning {
  color: var(--color-warning);
}

.color-gray-light {
  color: var(--color-gray-light);
}

.color-gray {
  color: var(--color-gray);
}

.color-gray-dark {
  color: var(--color-gray-dark);
}

.color-white {
  color: var(--color-white);
}

.color-light-green {
  color: var(--color-green-light);
}

.color-tram {
  color: var(--color-tram);
}

.color-bus {
  color: var(--color-bus);
}

.color-subway {
  color: var(--color-subway);
}

.color-rail {
  color: var(--color-rail);
}

.color-ferry {
  color: var(--color-ferry);
}

.color-black {
  color: var(--color-black);
}

.color-inherit {
  color: inherit;
}

.bg-white {
  background-color: var(--color-white);
}

.bg-bus-dark {
  background-color: var(--color-blue-dark);
}

.bg-black-opaque {
  background: rgba(0, 0, 0, 0.6);
}

.bg-light-red {
  background-color: var(--color-alert-light);
}

.bg-tram {
  background-color: var(--color-tram);
}

.bg-bus {
  background-color: var(--color-bus);
}

.bg-subway {
  background-color: var(--color-subway);
}

.bg-rail {
  background-color: var(--color-rail);
}

.bg-ferry {
  background-color: var(--color-ferry);
}

.no-bg {
  background-color: transparent;
}
