* {
  font-family: inherit;
}

html {
  font-size: 100%;
}

body {
  font-size: 16px;
  font-family: 'Open Sans', arial, verdana, tahoma, sans-serif;
}

h1 {
  font-weight: normal;
}

input {
  font-size: inherit;
}

/* regular text */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('./fonts/Open_Sans/OpenSans-Regular.woff2') format('woff2'),
    url('./fonts/Open_Sans/OpenSans-Regular.woff') format('woff');
  font-display: swap;
}

/* bold text */
@font-face {
  font-family: 'Open Sans';
  font-style: bold;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
    url('./fonts/Open_Sans/OpenSans-SemiBold.woff2') format('woff2'),
    url('./fonts/Open_Sans/OpenSans-SemiBold.woff') format('woff');
  font-display: swap;
}

/* header text */
@font-face {
  font-family: 'Patua One';
  font-style: normal;
  font-weight: 400;
  src: local('Patua One Regular'), local('PatuaOne-Regular'),
    url('./fonts/Patua_One/PatuaOne-Regular.woff2') format('woff2'),
    url('./fonts/Patua_One/PatuaOne-Regular.woff') format('woff');
  font-display: 'swap';
}

.font-heading {
  font-family: 'Patua One', serif;
}

.font-alternative {
  font-family: Arial, Helvetica, sans-serif;
}

.bold {
  font-weight: 600;
}

.text-s {
  font-size: 0.9rem;
}

.text-m {
  font-size: 1rem;
}

.text-l {
  font-size: 1.2rem;
}

.text-xl {
  font-size: 1.5rem;
}

.text-xxl {
  font-size: 2rem;
}

.line-height-s {
  line-height: 0.5rem;
}

.line-height-m {
  line-height: 1.55rem;
}

.line-height-l {
  line-height: 1.75rem;
}

.line-height-xl {
  line-height: 2.5rem;
}

.line-height-xxl {
  line-height: 3.25rem;
}

.lowercase {
  text-transform: lowercase;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

@media (min-width: 750px) {
  body {
    font-size: 16px;
  }
}
