.font-heading {
  font-family: 'Patua One', american typewriter, serif;
  font-weight: 500;
}

.bold {
  font-weight: 600;
}

.text-s {
  font-size: 0.9rem;
}

.text-m {
  font-size: 1rem;
}

.text-l {
  font-size: 1.2rem;
}

.text-xl {
  font-size: 1.5rem;
}

.text-xxl {
  font-size: 2rem;
}

.line-height-s {
  line-height: 0.5rem;
}

.line-height-m {
  line-height: 1.15rem;
}

.line-height-l {
  line-height: 1.3rem;
}

.line-height-xl {
  line-height: 1.75rem;
}

.line-height-xxl {
  line-height: 3.25rem;
}

.lowercase {
  text-transform: lowercase;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}
