html,
body {
  height: 100%;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;

  font-family: "Open Sans", arial, verdana, tahoma, sans-serif;
}

h1 {
  margin: 10px 0;
  font: normal 2em Georgia, 'Times New Roman', Times, serif;
}

a {
  color: #fff;
}

a:visited {
  color: inherit;
}

input {
  font-size: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

.full-width {
  width: 100%;
}

.bold {
  font-weight: 600;
}

.hidden {
  display: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

button.accessibility-util-button {
  border: 0;
  background: 0;
  padding: 0;
}

.no-scroll {
  overflow: hidden;
}

.info-message {
  color: #004085;
  background-color: #b8daff;
  border: 1px solid rgba(0,0,0,.125);
  padding: 1rem;
  border-radius: 2px;
}

.badge {
  display: inline-block;
  padding: .25em .6em;
  font-family: "Patua One", cursive;
  font-size: 1.2rem;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}

.badge.info {
  color: #fff;
  background-color: #007bff;
}

.realtime {
  color: #46b32a;
}

.tram {
  color: #00985f;
}

.bus {
  color: #007ac9;
}

.subway {
  color: #ff6319;
}

.rail {
  color: #8c4799;
}

.ferry {
  color: #00b9e4;
}

.tram.bg {
  background-color: #00985f;
}

.bus.bg {
  background-color: #007ac9;
}

.subway.bg {
  background-color: #ff6319;
}

.rail.bg {
  background-color: #8c4799;
}

.ferry.bg {
  background-color: #00b9e4;
}

button .bottom-border {
  height: 4px;
}

button.bus:focus,
button.bus:active,
button.bus .bottom-border {
  background: #0065a7;
}

button.tram:focus,
button.tram:active,
button.tram .bottom-border {
  background: #006b42;
}

button.rail:focus,
button.rail:active,
button.rail .bottom-border {
  background: #71397c;
}

button.subway:focus,
button.subway:active,
button.subway .bottom-border {
  background: #d65417;
}

button.ferry:focus,
button.ferry:active,
button.ferry .bottom-border {
  background: #0094b6;
}

button.text-only-button {
  background: none;
  border: 0;
  font-size: 1rem;
  cursor: pointer;
}

@media (min-width: 750px) {
  body {
    font-size: 16px;
  }
}
