* {
  line-height: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
}

input {
  border-radius: 0;
  min-width: 0;
}

button {
  border-radius: 0;
  cursor: pointer;
  font-size: inherit;
  border: 0;
  background: none;
}

input,
button {
  -webkit-appearance: none;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
}

.corner-rounded {
  border-radius: 4px;
}

.border-thin-light {
  border: 1px solid #ddd;
}

.border-clear-left {
  border-left-width: 0;
}

.border-clear-right {
  border-right-width: 0;
}

.border-keep-b {
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
}

.no-border {
  border: 0;
}

/** COMPONENTS */

.info-message {
  color: #004085;
  background-color: #b8daff;
  border: 1px solid rgba(0,0,0,.125);
  padding: 1rem;
  border-radius: 2px;
}

.badge {
  display: inline-block;
  padding: .25em .6em;
  font-family: "Patua One", cursive;
  font-size: 1.2rem;
  line-height: 1rem;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}

.badge.info {
  color: #fff;
  background-color: #007bff;
}

button.bottom-heavy-border {
  border-bottom: 4px solid #fff;
}

button.bg-bus:focus,
button.bg-bus:active {
  background: #0065a7;
}

button.bg-bus.bottom-heavy-border {
  border-bottom-color: #0065a7;
}

button.bg-tram:focus,
button.bg-tram:active {
  background: #006b42;
}

button.bg-tram.bottom-heavy-border {
  border-bottom-color: #006b42;
}

button.bg-rail:focus,
button.bg-rail:active {
  background: #71397c;
}

button.bg-rail.bottom-heavy-border {
  border-bottom-color: #71397c;
}

button.bg-subway:focus,
button.bg-subway:active {
  background: #d65417;
}

button.bg-subway.bottom-heavy-border {
  border-bottom-color: #d65417;
}

button.bg-ferry:focus,
button.bg-ferry:active {
  background: #0094b6;
}

button.bg-ferry.bottom-heavy-border {
  border-bottom-color: #0094b6;
}

button.text-only-button {
  background: none;
  font-size: 1rem;
}

.icon-button[disabled] {
  opacity: .5;
}
