html,
body {
    height: 100%;
}

html {
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;

    font-family: "Open Sans", arial, verdana, tahoma, sans-serif;
}

h1 {
    margin: 10px 0;
    font: normal 2em Georgia, 'Times New Roman', Times, serif;
}

a {
    color: #fff;
}

a:visited {
    color: inherit;
}

input {
    font-size: inherit;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.hidden {
    display: none;
}

.clear {
    clear: both;
}

.accessibility-hidden {
    position: absolute;
    left: -9999px;
    top: -9999px;
}
